@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    color-theme: light;
    --color-text: var(--latte-text);
    --color-surface: var(--latte-crust);

    --color-primary: var(--frappe-blue);
    --color-secondary: var(--frappe-rosewater);
    --color-success: var(--frappe-green);
    --color-warning: var(--frappe-yellow);
    --color-error: var(--frappe-red);

    --color-overlay0: var(--latte-overlay0);
    --color-overlay1: var(--latte-overlay1);
    --color-overlay2: var(--latte-overlay2);

    --color-surface0: var(--latte-surface0);
    --color-surface1: var(--latte-surface1);
    --color-surface2: var(--latte-surface2);

    --color-base: var(--latte-base);
    --color-crust: var(--latte-crust);
    --color-mantle: var(--latte-mantle);

    /* shadcn-svelte */

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 92% 38%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;


 
    /* end shadcn-svelte */

    color: rgb(var(--color-text));
    background-color: rgb(var(--color-surface));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-base: var(--mocha-base);
      --color-crust: var(--mocha-crust);
      --color-mantle: var(--mocha-mantle);

      --color-surface0: var(--mocha-surface0);
      --color-surface1: var(--mocha-surface1);
      --color-surface2: var(--mocha-surface2);
      
      /* --color-text: var(--frappe-text); */
      /* --color-surface: var(--frappe-base); */
      /* --color-text: var(--macchiato-text); */
      /* --color-surface: var(--macchiato-base); */
      --color-text: var(--mocha-text);
      --color-surface: var(--mocha-crust);
    }
  }

  /* shadcn-svelte */
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 359 51% 48%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;  
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .app {
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}